@model IbanTransferViewModel

<partial name="_TransferPartial" />
<div class="text-center">
    <form method="post" asp-controller="Transactions" asp-action="IbanTransfer">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <label asp-for="IbanNumber"></label><br />
            <input class="form-control" asp-for="IbanNumber" />
            <span asp-validation-for="IbanNumber"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Count"></label><br />
            <input class="form-control" asp-for="Count" />
            <span asp-validation-for="Count"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
